.idea/
.vscode/
.git/
.gitignore
.github/
.circleci/
.venv/
log/*
tmp/*
.tool-versions
__pycache__/
.cache/
*/run/
*/tensorboard/
training/*/checkpoints/
training/*/wandb/
training/wandb
shadowgen/training/venv/
shadowgen/training/wandb/
shadowgen/training/checkpoints/
shadowgen.egg-info/
build/
results/
venv/
dist/
*/__pycache__/
*/*/__pycache__/
*.md
*.cfg
