# Requirements in here are loaded in setup.py as "install_requires"
# which defines the minimum requirements for the kaleido-core-lib
# Keep requirements more loose here to not restrict projects
# which include kaleido-core-lib.
# Specify the required dependencies for using removebg-core as a library here.
--extra-index-url https://${FURY_AUTH_TOKEN}:@deps.kaleido.ai/pypi/
pip>=21.0.0<22.0.0
setuptools>=52.0.0,<53.0.0
wheel>=0.36<0.37
kaleido-core>=1.3.10
shadowgen-core<1.5.0
torch>=1.8.0
torchvision>=0.9.0
numpy>=1.17,<1.22.0
opencv-python>=4.1,<5.0.0
wandb<0.12
pika>=1.0.0,<2.0.0
msgpack<1.0.0
pandas<1.4.0
nibabel<2.5.0,>=2.4.0
pillow>=7.2.0,<9.0.0
removebg-core>1.0.0
