--extra-index-url https://${FURY_AUTH_TOKEN}:@deps.kaleido.ai/pypi/
pip>=21.0.0<22.0.0
setuptools>=52.0.0,<53.0.0
wheel>=0.36<0.37

attrs==21.2.0
    # via pytest
beautifulsoup4==4.9.3
    # via google
certifi==2021.5.30
    # via
    #   requests
    #   sentry-sdk
charset-normalizer==2.0.4
    # via requests
click==8.0.1
    # via wandb
configparser==5.0.2
    # via wandb
docker-pycreds==0.4.0
    # via wandb
gitdb==4.0.7
    # via gitpython
gitpython==3.1.18
    # via wandb
google==3.0.0
    # via kaleido-core
idna==3.2
    # via requests
iniconfig==1.1.1
    # via pytest
kaleido-core==1.4.1
    # via
    #   -r requirements-deploy.in
    #   shadowgen-core
msgpack==0.6.1
    # via
    #   -r requirements-deploy.in
    #   kaleido-core
    #   shadowgen-core
nibabel==2.4.0
    # via
    #   -r requirements-deploy.in
    #   shadowgen-core
numpy==1.21.2
    # via
    #   -r requirements-deploy.in
    #   kaleido-core
    #   nibabel
    #   opencv-python
    #   pandas
    #   scipy
    #   shadowgen-core
    #   torchvision
opencv-python==4.5.3.56
    # via
    #   -r requirements-deploy.in
    #   kaleido-core
    #   shadowgen-core
packaging==21.0
    # via pytest
pandas==1.3.2
    # via
    #   -r requirements-deploy.in
    #   shadowgen-core
pathtools==0.1.2
    # via wandb
pbr==5.6.0
    # via -r requirements-dev.in
pika==1.0.1
    # via
    #   -r requirements-deploy.in
    #   kaleido-core
    #   shadowgen-core
pillow==8.3.1
    # via
    #   -r requirements-deploy.in
    #   kaleido-core
    #   shadowgen-core
    #   torchvision
pluggy==1.0.0
    # via pytest
promise==2.3
    # via wandb
protobuf==3.17.3
    # via wandb
psutil==5.8.0
    # via wandb
py==1.10.0
    # via pytest
pyparsing==2.4.7
    # via packaging
pytest==6.2.5
    # via -r requirements-dev.in
python-dateutil==2.8.2
    # via
    #   pandas
    #   wandb
pytz==2021.1
    # via pandas
pyyaml==5.4.1
    # via wandb
removebg-core==1.3.0
    # via -r requirements-deploy.in
requests==2.26.0
    # via
    #   kaleido-core
    #   wandb
scipy==1.7.1
    # via kaleido-core
sentry-sdk==1.3.1
    # via wandb
shadowgen-core==1.4.2
    # via -r requirements-deploy.in
shortuuid==1.0.1
    # via wandb
six==1.16.0
    # via
    #   docker-pycreds
    #   nibabel
    #   promise
    #   protobuf
    #   python-dateutil
    #   wandb
smmap==4.0.0
    # via gitdb
soupsieve==2.2.1
    # via beautifulsoup4
subprocess32==3.5.4
    # via wandb
toml==0.10.2
    # via pytest
torch==1.9.0
    # via
    #   -r requirements-dev.in
    #   kaleido-core
    #   shadowgen-core
    #   torchvision
torchvision==0.10.0
    # via
    #   -r requirements-dev.in
    #   kaleido-core
    #   shadowgen-core
tqdm==4.62.2
    # via kaleido-core
typing-extensions==3.10.0.2
    # via torch
urllib3==1.26.6
    # via
    #   requests
    #   sentry-sdk
    #   wandb
wandb==0.11.2
    # via -r requirements-deploy.in
