--extra-index-url https://${FURY_AUTH_TOKEN}:@deps.kaleido.ai/pypi/

absl-py==1.0.0
    # via tensorboard
aiohttp==3.8.1
    # via fsspec
aiosignal==1.2.0
    # via aiohttp
async-timeout==4.0.2
    # via aiohttp
attrs==21.4.0
    # via aiohttp
beautifulsoup4==4.10.0
    # via google
cachetools==5.0.0
    # via google-auth
certifi==2021.10.8
    # via
    #   requests
    #   sentry-sdk
charset-normalizer==2.0.12
    # via
    #   aiohttp
    #   requests
click==8.0.4
    # via wandb
crcmod==1.7
    # via -r requirements-train.in
dnspython==2.2.1
    # via python-etcd
docker-pycreds==0.4.0
    # via wandb
frozenlist==1.3.0
    # via
    #   aiohttp
    #   aiosignal
fsspec[http]==2022.2.0
    # via pytorch-lightning
future==0.18.2
    # via pytorch-lightning
gitdb==4.0.9
    # via gitpython
gitpython==3.1.27
    # via wandb
google==3.0.0
    # via kaleido-core
google-api-core==2.6.1
    # via
    #   google-api-python-client
    #   google-cloud-core
    #   google-cloud-storage
google-api-python-client==2.39.0
    # via -r requirements-train.in
google-auth==2.6.0
    # via
    #   google-api-core
    #   google-api-python-client
    #   google-auth-httplib2
    #   google-auth-oauthlib
    #   google-cloud-core
    #   google-cloud-storage
    #   tensorboard
google-auth-httplib2==0.1.0
    # via google-api-python-client
google-auth-oauthlib==0.4.6
    # via tensorboard
google-cloud==0.34.0
    # via -r requirements-train.in
google-cloud-core==2.2.3
    # via
    #   -r requirements-train.in
    #   google-cloud-storage
google-cloud-storage==2.1.0
    # via -r requirements-train.in
google-crc32c==1.3.0
    # via
    #   -r requirements-train.in
    #   google-resumable-media
google-resumable-media==2.3.1
    # via google-cloud-storage
googleapis-common-protos==1.55.0
    # via google-api-core
grpcio==1.44.0
    # via tensorboard
httplib2==0.20.4
    # via
    #   google-api-python-client
    #   google-auth-httplib2
idna==3.3
    # via
    #   requests
    #   yarl
importlib-metadata==4.11.2
    # via markdown
kaleido-core==2.17.0
    # via
    #   -r requirements.in
    #   shadowgen-core
markdown==3.3.6
    # via tensorboard
msgpack==0.6.2
    # via
    #   -r requirements.in
    #   kaleido-core
    #   shadowgen-core
multidict==6.0.2
    # via
    #   aiohttp
    #   yarl
nibabel==2.4.1
    # via
    #   -r requirements.in
    #   shadowgen-core
numpy==1.21.5
    # via
    #   -r requirements.in
    #   kaleido-core
    #   nibabel
    #   opencv-python
    #   pandas
    #   pyarrow
    #   pytorch-lightning
    #   scipy
    #   shadowgen-core
    #   tensorboard
    #   torchelastic
    #   torchmetrics
    #   torchvision
oauthlib==3.2.0
    # via requests-oauthlib
opencv-python==4.5.5.62
    # via
    #   -r requirements.in
    #   kaleido-core
    #   shadowgen-core
packaging==21.3
    # via
    #   pytorch-lightning
    #   torchmetrics
pandas==1.3.5
    # via
    #   -r requirements.in
    #   shadowgen-core
pathtools==0.1.2
    # via wandb
pika==1.2.0
    # via
    #   -r requirements.in
    #   kaleido-core
    #   shadowgen-core
pillow==9.0.1
    # via
    #   -r requirements.in
    #   kaleido-core
    #   shadowgen-core
    #   torchvision
promise==2.3
    # via wandb
protobuf==3.19.4
    # via
    #   google-api-core
    #   google-cloud-storage
    #   googleapis-common-protos
    #   tensorboard
    #   wandb
psutil==5.9.0
    # via wandb
pyarrow==7.0.0
    # via -r requirements-train.in
pyasn1==0.4.8
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.2.8
    # via google-auth
pydeprecate==0.3.1
    # via
    #   pytorch-lightning
    #   torchmetrics
pyparsing==3.0.7
    # via
    #   httplib2
    #   packaging
python-dateutil==2.8.2
    # via
    #   pandas
    #   wandb
python-etcd==0.4.5
    # via torchelastic
pytorch-lightning==1.5.10
    # via -r requirements-train.in
pytz==2021.3
    # via pandas
pyyaml==6.0
    # via
    #   pytorch-lightning
    #   wandb
requests==2.27.1
    # via
    #   fsspec
    #   google-api-core
    #   google-cloud-storage
    #   kaleido-core
    #   requests-oauthlib
    #   tensorboard
    #   wandb
requests-oauthlib==1.3.1
    # via google-auth-oauthlib
rsa==4.8
    # via google-auth
scipy==1.8.0
    # via kaleido-core
sentry-sdk==1.5.7
    # via wandb
setproctitle==1.2.2
    # via wandb
shadowgen-core==1.10.3
    # via -r requirements.in
shortuuid==1.0.8
    # via wandb
six==1.16.0
    # via
    #   absl-py
    #   docker-pycreds
    #   google-auth
    #   google-auth-httplib2
    #   grpcio
    #   nibabel
    #   promise
    #   python-dateutil
    #   wandb
smmap==5.0.0
    # via gitdb
soupsieve==2.3.1
    # via beautifulsoup4
tensorboard==2.8.0
    # via pytorch-lightning
tensorboard-data-server==0.6.1
    # via tensorboard
tensorboard-plugin-wit==1.8.1
    # via tensorboard
termcolor==1.1.0
    # via yaspin
    # via
    #   -r requirements.in
    #   kaleido-core
    #   pytorch-lightning
    #   shadowgen-core
    #   torchelastic
    #   torchmetrics
    #   torchvision
torchelastic==0.2.0
    # via -r requirements-train.in
torchmetrics==0.7.2
    # via pytorch-lightning
    # via
    #   -r requirements.in
    #   kaleido-core
    #   shadowgen-core
tqdm==4.63.0
    # via
    #   kaleido-core
    #   pytorch-lightning
typing-extensions==4.1.1
    # via
    #   pytorch-lightning
    #   torch
uritemplate==4.1.1
    # via google-api-python-client
urllib3==1.26.8
    # via
    #   python-etcd
    #   requests
    #   sentry-sdk
wandb==0.12.11
    # via -r requirements-train.in
werkzeug==2.0.3
    # via tensorboard
wheel==0.37.1
    # via
    #   -r requirements.in
    #   kaleido-core
    #   tensorboard
yarl==1.7.2
    # via aiohttp
yaspin==2.1.0
    # via wandb
zipp==3.7.0
    # via importlib-metadata

# The following packages are considered to be unsafe in a requirements file:
# setuptools
