# Requirements here are used for deployment and should be pinned to a specific version.
# Specify requirements which are used for removebg as a service here.

--extra-index-url https://${FURY_AUTH_TOKEN}:@deps.kaleido.ai/pypi/
kaleido-core>=2.0.0,<3.0.0
# We specify torch dependencies to same version
# as specified in the pytorch base image to allow pip-compile resolve dependencies.
# We exclude them however afterwards from requirements.txt and use
# torch dependencies from the base image as the one from pypi might cause issues.
torch==1.8.0
torchvision==0.9.0
shadowgen-core<2.0.0
numpy>=1.17,<1.22.0
opencv-python>=4.1,<5.0.0
wandb<0.12
pika>=1.0.0,<2.0.0
msgpack<1.0.0
pandas<1.4.0
nibabel<2.5.0,>=2.4.0
pillow>=7.2.0,<9.0.0
removebg-core>1.0.0,<2.0.0
